run = "node update-projects.js"
modules = ["nodejs-20"]

[nix]
packages = ["haskellPackages.concurrent-dns-cache"]

[workflows]

[[workflows.workflow]]
name = "run"
mode = "sequential"
author = 43310645

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node update-projects.js"
